<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Blogs</h1>
  <%= link_to 'New Blog', new_blog_path, class:"btn btn-primary" %>
  <% @blogs.each do |blog| %>
    <div class="card shadow m-4 p-4">
      <h1><%= blog.title %></h1>
      <lead><%= blog.body %></lead>
      <div class="list-group col-md-2 float-right m-4">
        <div class="btn-group">
          <div><%= link_to 'Show', blog, class:"btn btn-primary mr-2" %></div>
          <div><%= link_to 'Edit', edit_blog_path(blog), class:"btn btn-success mr-2" %></div>
          <div><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger mr-2"%></div>
          <div><%= link_to blog.status, toggle_status_blog_path(blog), class: "btn btn-info mr-2" %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
