<div class="container">
  <div class="row">
    <div class="col-md-7">
      <p><%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %></p>
    </div>
    <div class="col-md-5">


      <h1><%= @portfolio_item.title %><%= link_to "  Edit", edit_portfolio_path, class:"small" if logged_in?(:site_admin) %></h1>
      <hr>
      <em><%= @portfolio_item.subtitle %></em>

      <p><%= @portfolio_item.body %></p>
      <hr>
      <h3>Technologies used :</h3>
        <% @portfolio_item.technologies.each do |t| %>
        <p><%= t.name %></p>

      <% end %>
    </div>
  </div>
</div>
